.Armor {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.Armor_img {
    display: block;
    border: 5px solid #ffffff;
    cursor: pointer;
}

.ArmorMods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.ArmorMods div {
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.ArmorMods img {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 50%;
}

.ArmorMods_selected {
    background-color: #ceae33;
}

.ArmorModal {}

.ArmorModal_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}

.ArmorModal_content {
    position: fixed;
    width: 50%;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: white;
    z-index: 10;
    cursor: default;
}

.ArmorModalContent_header {
    height: 70px;
    width: 100%;
}

.ArmorModalContent_header h2 {
    color: rgba(255, 255, 255, .8) !important;
    margin: 0;
    padding-top: 8px;
    padding-left: 10px;
    text-transform: uppercase;
}

.ArmorModalContent_header h3 {
    color: rgba(255, 255, 255, .8) !important;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
}

.ArmorModalContent_header h4 {
    color: rgba(255, 255, 255, .8) !important;
    margin: 0;
    padding-right: 10px;
    padding-top: 8px;
    float: right;
}

.ArmorModalContent_body {
    background-color: rgba(0, 0, 0, .7);
}

.ArmorModalContent_body h3 {
    margin: 0;
    color: rgba(255, 255, 255, .8) !important;
    padding: 10px;
}

.ArmorModalContent_body h4 {
    margin: 0;
    color: rgba(255, 255, 255, .8) !important;
}

.ArmorModalContent_body div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.ArmorModalContent_body span {
    font-size: 40px;
}

.ArmorModalContent_body p {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, .8) !important;
}

.ArmorModalContent_body button {
    display: block;
    border: 0;
    border-radius: 3px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000d2;
    background-color: #ffffff;
    outline: none;
}

.ArmorModalContent_screenshot {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: auto;
}

.ArmorModalContent_mod {
    display: block;
    height: 50px;
    width: 50px;
}

.exotic {
    background-color: #ceae33 !important;
}

.legendary {
    background-color: #522f65 !important;
}