.Armor {
    border: 5px solid #ffffff;
    margin: 5px;
}

.Armor img {
    display: block;
}

.ArmorModal {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}

.ArmorModal_content {
    background: white;
}