.ArmorBuilder {
    padding-bottom: 20px;
}

.ArmorBuilder_empty {
    margin: 5px;
}

.ArmorBuilder_empty img {
    border: 5px solid #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ArmorBuilder section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.ArmorBuilder section h2 {
    margin: 0;
    text-align: center;
    color: #ffffff8c
}

.ArmorBuilder_armors {
    width: 70%;
}

.ArmorBuilder_armors>div {
    width: 20%;
}

.ArmorBuilder_armors>div>div {
    display: flex;
    flex-direction: column;
}

.ArmorBuilder_actions {
    display: flex;
    flex-direction: column !important;
    margin-top: 10px;
    width: 70%;
}

.ArmorBuilder_actions p {
    font-size: 20px;
    margin: 0;
    align-self: center;
    color: #ffffff8c;
    margin-left: 10px;
    margin-right: 10px;
}

.ArmorBuilderActions_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.ArmorBuilderActions_stats h2 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.ArmorBuilderActions_actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.ArmorBuilderActions_actions button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.button_red {
    background-color: #c59898;
}

.button_green {
    background-color: #9bc789;
}

.button_blue {
    background-color: #859ab6;
}

@media screen and (max-width: 1024px) {
    .ArmorBuilder_armors {
        width: 100%;
    }
    .ArmorBuilder_actions {
        width: 100%;
    }
    .ArmorBuilderActions_actions {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .ArmorBuilder section {
        flex-wrap: wrap;
    }
    .ArmorBuilder_armors>div {
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .ArmorBuilder_armors>div>div {
        flex-direction: row;
        align-items: center;
        max-width: 287px;
        margin-left: auto;
        margin-right: auto;
    }
}