.ArmorBuilder {
    padding-bottom: 20px;
}

.ArmorBuilder_empty {
    margin: 5px;
}

.ArmorBuilder_empty img {
    border: 5px solid #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ArmorBuilder section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.ArmorBuilder section h2 {
    margin: 0;
    text-align: center;
    color: #ffffff8c
}

.ArmorBuilder_armors {
    width: 70%;
}

.ArmorBuilder_armors>div {
    width: 20%;
}

.ArmorBuilder_armors>div>div {
    display: flex;
    flex-direction: column;
}

.ArmorBuilder_stats {
    flex-wrap: wrap;
    margin-top: 10px;
    width: 40%;
}

.ArmorBuilder_stats h2 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

@media screen and (max-width: 1024px) {
    .ArmorBuilder_armors {
        width: 100%;
    }
    .ArmorBuilder_stats {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .ArmorBuilder section {
        flex-wrap: wrap;
    }
    .ArmorBuilder_armors>div {
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .ArmorBuilder_armors>div>div {
        flex-direction: row;
        align-items: center;
        max-width: 287px;
        margin-left: auto;
        margin-right: auto;
    }
}